*{
    padding: 0;
    margin: 0;
}

main{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: black !important;
    color: white;
}
iframe{
    height: 800px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15sease-in-out, background-color .15sease-in-out, border-color .15sease-in-out;
}
.nav-link:hover{
    font-size: larger;
    color: antiquewhite;
}

#upload{
    height: 1000px;
    position: absolute;
}

/* body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #eef2f3, #cfd9df);
} */
.card {
    background: white;
    /* opacity: 0.9; */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    width: 450px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.02);
}
h2, p {
    margin: 5px 0;
}
.info {
    margin-top: 15px;
    padding: 15px;
    background: #dff6ff;
    border-radius: 10px;
    text-align: left;
}
textarea, select {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}
textarea:focus, select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #4A90E2, #007BFF);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}
button:hover {
    background: linear-gradient(45deg, #007BFF, #4A90E2);
    transform: scale(1.05);
}
.stars {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}
.star {
    font-size: 28px;
    color: lightgray;
    cursor: pointer;
    transition: transform 0.2s, color 0.3s;
}
.star.active {
    color: gold;
    transform: scale(1.2);
}
.star:hover {
    color: #ffd700;
    transform: scale(1.3);
}